

.employee-first-name,
.employee-last-name,
.employee-start-date,
.employee-email-address {
  font-weight: 500;
}

#new-employee .company-data .row span {
  font-size: 20px;
  margin: 10px 0;
  display: inline-block;
}
#new-employee .company-data .row span:nth-child(2) {
  margin-left: 10px;
}

#new-employee .company-data.gray-row {
  text-indent: 30px;
  padding-top: 10px;
}

.employee-benefits .circle {
  display: inline-block;
  margin: 10px 5px;
  border-radius: 120px;
  position: relative;
  height: 225px;
  background: #e3e3e3;
  font-weight: 500;
  width: 225px;
  border: 4px solid #2cd9dd;
}

.employee-benefits .row {

}

.circle .benefit-copy {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 auto!Important;
  padding-top: 20%;

  font-size: 30px;
  color: white;
  right:0;
  bottom:0;
  display: block;
}
