body {
  font-family: 'Open sans';
}
nav {
  background: #363636;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.navbar {
  padding: 30px 0;
  border-radius: 0;
}
.ziero-financial-logo {
  width: 240px;
  margin-top: -30px;
}
.account-name {
  display: block;
  font-size: 19px;
  color: white;
}
.profile-img {
  border-radius: 120px;
  height: 50px;
  display: inline;
  width: 50px;
  margin-right: 15px;
  position: absolute;
  left: 0;
  margin-right: 15px;
}
.sidebar {
  background: #f7f7f7;
  position: absolute;
  top: 118px;
  bottom: 0;
  height: 120%;
  /*border: 3px solid #e5e5e5;*/
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.sidebar ul {
  padding-left: 0;
}
.sidebar ul li {
  list-style-type: none;
  background: #f7f7f7;
  border: 2px solid #f2f2f2;
  padding: 20px;
  -webkit-transition: .6s;
  transition: .6s;
  position: relative;
}
.sidebar ul li:hover {
  /*border-right: 3px solid #2cd9dd;*/
}
.sidebar ul li.active {
  background: #06bbb9;
  border: 0;
}
.sidebar ul li.active:hover {
  background: #06bbb9;
}
.sidebar ul li.active:hover i {
  color: white!important;
  text-shadow: 0px 0px 1px gray;
}
.sidebar ul li.active a {
  color: white;
}
.sidebar ul li
}
.sidebar ul li.active i {
  color: white;
}
.sidebar ul li:hover {
  background: #f0f0f0;
  color: gray;
}
.sidebar ul li:hover i {
  color: #ccc;
}
.sidebar ul a {
  color: #4c4c4c;
  text-decoration: none;
}
.sidebar ul span {
  text-align: center;
  display: block;
  font-size: 19px;
  margin-top: -10px;
  font-weight: 600;
}
.sidebar a i {
  display: block;
  font-size: 40px;
  margin-bottom: 6px;
  text-align: center;
  color: #06bbb9;
}
.sidebar li.active a i {
  color: white!important;
}
.main-btn {
  background: #06bbb9;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #06bbb9;
  cursor: pointer;
}
.main-btn:hover {
  background: transparent;
  color: #4c4c4c;
  text-decoration: none;
}
.profile-holder {
  margin-right: 20px;
  display: inline-block;
  /*margin-top: 10px;*/

  width: 200px;
  text-align: right;
  font-weight: 500;
}
.profile-holder, .profile-holder a {
  color: white;
  font-size: 19px;
  position: relative;
  width: 100%;
  padding-left: 20px;
}
.gray-row {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 40px 20px;
}
#notifications .gray-row {
  text-align: left!important;
  padding: 10px 10px 30px 10px;
}
.gray-row h2 {
  margin-top: 0;
  text-indent: 27px;
}
.gray-row p {
  text-indent: 60px;
  font-size: 18px;
  margin: 15px 0;
}
.gray-row .main-btn {
  margin-left: 60px;
  margin-top: 10px;
  text-decoration: none;
}
.gray-row h8 {
  display: block;
  margin-top: -7.5px;
  padding-top: 0;
}
.checkbox-row input {
  width: 100%!important;
}
.checkbox-row span {
  display: block;
}
.checkbox-holder input {
  display: inline;
  height: 20px!important;
  margin-top: 20px;
  margin-bottom: 10px;
  background: blue!important;
  padding: 30px!important;
}
.table-content {
  overflow-y: hidden;
}
.table-content .top-row {
  background: #f7f7f7;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  font-size: 19px;
  margin-top: 30px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #f3f3f3;
}
.table-content .row {
  font-size: 19px;
  padding: 12px 0;
  color: #353535;
  width: 100%;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  margin: 0 auto;
}
.table-content .row:nth-child(odd) {
  background: #f7f7f7;
}
.table-content .row:last-child {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom: 1px solid #f3f3f3;
}
.table-content .disabled-row {
  background: rgba(255, 0, 0, 0.125);
  border: 1px solid red;
  color: red;
}
.table-content a {
  font-weight: 500;
  text-align: right;
}
.perks-row {
  width: 100%;
  margin: 0 auto;
}
.perks-row h2 {
  text-indent: 45px;
  margin: 80px 0 30px 0;
}
.perks-row img {
  width: 120px;
}
.perks-row .col-md-4 {
  text-align: center;
}
.perks-row .col-md-4 span {
  text-align: center;
  width: 100%;
  display: block;
  /*border: 2px solid rgba(44, 217, 221, .5);*/

  background: white;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.perks-row .col-md-4 span h1, .perks-row .col-md-4 span h3 {
  text-indent: 0;
}
.pricing-row {
  padding: 15px 0 0px 0!important;
}
.perks-row h1.price {
  margin: 30px 0;
  display: block;
  color: #06bbb9;
}
.perks-row h1:first-child {
  border-bottom: 2px solid #ddd;
  margin-top: 0;
  font-size: 30px;
  padding: 20px 0;
  color: #353535;
  background: #f3f3f3;
}
.perks-row .col-md-4 span h3 {
  font-weight: 400;
}
.main-content {
  margin-top: 25px;
  margin-bottom: 50px;
}
.content-window {
  width: 80%;
  right: 20px;
  position: absolute;
  z-index: 0;
}
.content-window .container {
  position: absolute;
  width: 100%;
  max-width: 1060px;
  left: 0;
}
.main-content i.fa-calendar {
  margin-right: 20px;
}
.content-window > * {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.checkbox-holder {
  font-size: 18px;
  margin: 10px 0;
}
.checkbox-holder input {
  margin-right: 10px;
}
.gray-row input {
  /*width: 100%;*/
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-indent: 15px;
  font-size: 20px;
  height: 58px;
}
.nav-company-name {
  font-size: 11px!important;
  text-align: right;
  margin-top: 0;
  display: inline=block;
}
a.back-btn {
  color: gray;
  padding: 10px 15px 10px 35px;
  border-radius: 5px;
  background: #f0f0f0;
  display: inline-block;
  margin: 10px 0 10px -14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  text-decoration: none;
}
a.save-btn {
  color: white;
  padding: 10px 40px 10px 15px;
  border-radius: 5px;
  background: #06bbb9;
  display: inline-block;
  margin: 10px 15px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #06bbb9;
}
a.back-btn i.fa-times {
  display: inline-block;
  margin-right: 7px;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 0;
}
a.save-btn i.fa-floppy-o {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  padding-right: 13px;
  right: 0;
}
span.row-cta {
  display: block;
  width: 100%;
  position: relative;
}
span.row-cta h1, span.row-cta h2 {
  width: 75%;
  display: inline-block;
}
span.row-cta .main-btn {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.pagination {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  float: right;
}
.pagination ul li {
  display: inline;
}
.pagination ul li a {
  font-size: 20px;
  margin: 0 4px;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.m20 {
  margin: 30px 0!important;
  display: block!important;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.nav-tabs {
  margin-bottom: 30px;
  margin-top: 10px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: transparent!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom-color: transparent!important;
}
input.error {
  border: 1px solid red!important;
}
input.error::-webkit-input-placeholder {
  color: red;
  font-weight: 500;
}
input.error:-moz-placeholder {
  color: red;
  font-weight: 500;
}
input.error::-moz-placeholder {
  color: red;
  font-weight: 500;
}
input.error:-ms-input-placeholder {
  color: red;
  font-weight: 500;
}
#add-perks-container .col-sm-3 {
  cursor: pointer;
}
#pricing {
  min-height: 500px;
}
#pricing.gray-row {
  margin-top: 30px;
  padding-top: 0;
}
#pricing h3 {
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 20px;
  /*background: red;*/

  padding-top: 30px;
}
#pricing .pricing-row {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#pricing .pricing-row .price-box {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  border: 1px solid #bbb;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 5px;
  background: #fff;
}
#pricing .pricing-row .price-box.mid {
  width: 85%;
}
#pricing .pricing-row .col-sm-4 {
  position: relative;
}
#pricing .pricing-row span {
  display: block;
  font-size: 20px;
}
#pricing .pricing-row span.type {
  font-weight: 600;
}
#pricing .pricing-row span.terms, #pricing .pricing-row span.amount, #pricing .pricing-row span.interest {
  margin: 5px 0;
}
#pricing .pricing-row span.price {
  font-size: 40px;
  font-weight: 500;
  margin-top: -5px;
  color: #06bbb9;
  margin-bottom: 10px;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);*/
}
#pricing .pricing-row span.amount {
  font-size: 60px;
  color: #06bbb9;
  font-weight: 600;
  /*text-shadow: 1px 1px 1px black;*/
}
.employer-fee {
  font-size: 14px!important;
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: 600;
}
.employee-perk-holder {
  border-top: 3px dotted #f3f3f3;
}
.employee-perk-holder .employer-perk {
  font-size: 15px!important;
  font-weight: 600;
  margin-top: 30px;
}
.most-popular {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 43px;
  color: black;
  width: 80px;
}
.non-profit {
  margin-left: 47px;
}
.nonprofit-copy {
  font-size: 13px!important;
  margin-top: 20px;
}

@media (max-width: 991px) {
  #pricing .pricing-row .price-box {
    width: 85%;
    margin: 25px auto;
  }
  .most-popular {
    margin-left: 72px;
  }
  .non-profit {
    margin-left: 72px!important;
  }
}
@media (max-width: 1200px) {
  .most-popular {
    margin-left: 38px;
  }
  .non-profit {
    margin-left: 43px!important;
  }
}
